<a href="{{ mod_active_filter.url_to_remove }}" class="collection-filters__filter-tag inline-flex align-center justify-center background-color-light-tan coloe-off-black no-underline">
  <span class="b3 no-margin">{{ mod_active_filter.label }}</span>
  {% render 'icon-close' %}
</a>
