{% render 'async-stylesheet', mod_url: 'component-plp-seo-block.css' %}


<section class="plp-seo-block">
    <div class="container background-color-light-tan text-center">
        <h3 class="s1 plp__title color-off-black">
            {{ collection.metafields.seo_block.seo_block_title }}
        </h3>

        <p class="plp__description color-off-black">
            {{ collection.metafields.seo_block.seo_block_description }}
        </p>
    </div>  
</section>       
