/* ------------------------------------------------------------ *\
    Variables
\* ------------------------------------------------------------ */
:root {
  /* Font sizes made relative to base font size using REM */
  --font-scale-body: 1.3rem;
  --font-scale-button: 1.3rem;
  --font-scale-h1: 10rem;
  --font-scale-h2: 6.4rem;
  --font-scale-h3: 3.2rem;
  --font-scale-h4: 2rem;
  --font-scale-h5: 1.3rem;
  --font-scale-h6: var(--font-scale-body);
  --font-scale-zoom: 1.6rem;
  --font-line-height-base: 2;
  --font-weight: 100;
  --font-weight-h4: 300;
  /* We reduce the impace of scale differences for mobile */
  --heading-scale-coefficient-mobile: calc(
    var(--heading-scale-coefficient) * 0.8
  );
  /* Named colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #d72638;
  --color-blue: #0038ff;
  --color-green: #25b900;
  /* Style guide colors */
  --color-off-black: #3e2b2e;
  --color-dark-gray: #5a4e4f;
  --color-dark-gray-border: rgba(120, 105, 106, 0.2);
  --color-off-black-with-opacity: rgba(62, 43, 46, 0.5);
  --color-off-white: #fffbf7;
  --color-tan: #e4cebe;
  --color-light-tan: #f3e9e2;
  --color-pink: #f4e3e2;
  --color-pale-pink: #faf4ef;
  --color-pale-pink-with-opacity: rgba(250, 244, 239, 0.8);
  --color-error-red: #d72638;
  --color-other-grey: #9f9597;
  --color-disabled-bg: #f4f1f1;
  --color-disabled: #5a4e4f;
  /* Gradients */
  --color-gradient-pewter: linear-gradient(
    133.74deg,
    #6d6b5b 24.08%,
    #d4d1c0 134.08%
  );
  --color-gradient-pewter-outline: linear-gradient(
    90deg,
    #d3cba1 0%,
    #777467 25.92%,
    #dcd9ca 58.98%,
    #ada791 100%
  );
  --color-gradient-overlay: linear-gradient(
    180deg,
    rgba(62, 43, 46, 0.7) 0%,
    rgba(62, 43, 46, 0.1) 100%
  );
  /* Non-customizable UI colors */
  --color-focus: var(--color-blue);
  --color-error: var(--color-red);
  --color-success: var(--color-green);
  /* z-indices */
  --z-index-behind: -1;
  --z-index-base: 1;
  --z-index-ui-control: 2;
  --z-index-flyout: 5;
  --z-index-modal: 99999;
  --z-index-highest: 9999;
  /* Animation durations */
  --duration-short: 100ms;
  --duration-default: 200ms;
  --duration-long: 500ms;
  --duration-xlong: 1500ms;
  /* Breakpoints */
  --breakpoint-xxs: 375px;
  --breakpoint-xs: 414px;
  --breakpoint-s: 768px;
  --breakpoint-m: 1023px;
  --breakpoint-md: 1200px;
  --breakpoint-l: 1440px;
  /* Gutters & Containers */
  --gutter: 60px;
  --container-width: 1440px;
  /* Fonts */
  --font-mont: 'Montserrat', sans-serif;
  --font-canela: 'Canela Web', serif;
  --header-spacer: 0;
  /* Box Shadows */
  --card-box-shadow: 0px 4px 12px rgba(62, 43, 46, 0.16);
}

/* ------------------------------------------------------------ *\
    Generic
\* ------------------------------------------------------------ */

/* base */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
  position: relative;
}

@media (max-width: 767px) {
  body,
  html {
    overflow-x: hidden;
  }
}

html.frozen,
body.frozen {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

/*
  Focus ring - inset
*/

.focus-inset:focus-visible {
  outline: 0.2rem solid var(--color-focus);
  outline-offset: -0.2rem;
}

/* Fallback */

.focus-inset:focus {
  outline: 0.2rem solid var(--color-focus);
  outline-offset: -0.2rem;
}

.focus-inset:focus:not(:focus-visible) {
  outline: 0;
  border: 0;
  box-shadow: none;
}

/* Body styles */

body,
.body {
  margin: 0;
  background-color: var(--color-off-white);
  padding-top: var(--header-spacer);
  overflow-x: hidden;
}

/* Helpers */

.no-js:not(html) {
  display: none !important;
}

html.no-js .no-js:not(html) {
  display: block !important;
}

.no-js-inline {
  display: none !important;
}

html.no-js .no-js-inline {
  display: inline-block !important;
}

html.no-js .no-js-hidden {
  display: none !important;
}

.full-unstyled-link {
  text-decoration: none;
  color: currentColor;
  display: block;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.anchor-link {
  scroll-margin-top: 200px;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.visually-hidden--inline {
  margin: 0;
  height: 1em;
}

.overflow-hidden {
  overflow: hidden;
}

.skip-to-content-link:focus {
  z-index: 9999;
  position: inherit;
  overflow: auto;
  width: auto;
  height: auto;
  clip: auto;
}

.hidden {
  display: none !important;
}

.desktop-block,
.desktop-flex {
  display: none;
}

.mobile-block {
  display: block;
}

.mobile-flex {
  display: flex;
}

@media (min-width: 768px) {
  .mobile-flex,
  .mobile-block {
    display: none;
  }

  .desktop-block {
    display: block;
  }

  .desktop-flex {
    display: flex;
  }
}

.selling-fast-container p {
  margin: 0;
  background-color: var(--color-dark-gray);
  color: var(--color-off-white);
  font-family: var(--font-canela);
  line-height: 1;
  padding: 5px 12px;
  border-radius: 30px;
  display: inline-block;
}

.backdrop {
  background-color: var(--color-dark-gray);
  opacity: 0.5;
  position: fixed;
  top: var(--header-spacer);
  bottom: 0;
  right: 0;
  left: 0;
  z-index: calc(var(--z-index-highest) - 1);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-property: opacity, visibility;
}

.backdrop.visible {
  visibility: visible;
  opacity: 0.5;
  pointer-events: unset;
  transition-delay: 0s;
  transition-duration: 0.1s;
  transition-timing-function: ease;
  transition-property: opacity, visibility;
}

adaptive-image,
.fluid {
  width: 100%;
}

.hidden {
  display: none;
}

summary:hover {
  cursor: pointer;
}

.slideout-panel {
  position: relative;
  z-index: 10000;
}

.container {
  margin: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

@media (min-width: 768px) {
  .container {
    max-width: var(--container-width);
  }
}

.container.fluid {
  max-width: 100%;
}

.container.no-padding {
  padding: 0;
}

.block {
  display: block;
}

.grid {
  display: grid;
}

.show {
  display: block !important;
}

.s-block {
  display: none !important;
}

.s-grid {
  display: block !important;
}

.m-block {
  display: none !important;
}

.m-flex {
  display: none !important;
}

.l-none {
  display: block !important;
}

.l-block {
  display: none !important;
}

@media (min-width: 768px) {
  .s-none {
    display: none !important;
  }
  .s-block {
    display: block !important;
  }
  .s-grid {
    display: grid !important;
  }
}

@media (min-width: 992px) {
  .m-none {
    display: none !important;
  }
  .m-block {
    display: block !important;
  }
  .m-flex {
    display: flex !important;
  }
}

@media (min-width: 1200px) {
  .l-none {
    display: none !important;
  }
  .l-block {
    display: block !important;
  }

  .l-hide {
    display: none !important;
  }
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.inline-block {
  display: inline-block;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: column;
}

.object-cover {
  object-fit: cover;
}

.cursor-pointer {
  cursor: pointer;
}

.hide-scrollbars {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scrollbar-height: none; /* Firefox */
}

.hide-scrollbars::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
  display: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inset {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Style guide colors */

.background-color-off-black {
  background-color: var(--color-off-black);
}

.background-color-dark-gray {
  background-color: var(--color-dark-gray);
}

.background-color-off-white {
  background-color: var(--color-off-white);
}

.background-color-tan {
  background-color: var(--color-tan);
}

.background-color-light-tan {
  background-color: var(--color-light-tan);
}

.background-color-pink {
  background-color: var(--color-pink);
}

.background-color-pale-pink {
  background-color: var(--color-pale-pink);
}

.background-color-error-red {
  background-color: var(--color-error-red);
}

.border-color-off-white {
  border-color: var(--color-off-white);
}

/* ------------------------------------------------------------ *\
    Text Colors
\* ------------------------------------------------------------ */

.color-off-black {
  color: var(--color-off-black);
}

.color-off-white {
  color: var(--color-off-white);
}

.color-error-red {
  color: var(--color-error-red);
}

.color-dark-gray {
  color: var(--color-dark-gray);
}

.color-light-tan {
  color: var(--color-light-tan);
}

.color-dark-gray {
  color: var(--color-dark-gray);
}

.color-off-black {
  color: var(--color-off-black);
}

/* Gradients */

.background-color-gradient-pewter {
  background-image: var(--color-gradient-pewter);
  border: 0.5px solid #3e2b2e;
}

/* Borders */

.border-pewter-gradient-outline {
  box-shadow: 4px 4px 12px #d2b29a66, -4px -4px 12px #fffbf7;
  background-image: linear-gradient(#fff, #fff),
    var(--color-gradient-pewter-outline);
  border: double 1px transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.border-pewter-gradient-outline-hover {
  position: relative;
}

.border-pewter-gradient-outline-hover:hover:after {
  content: '';
  position: absolute;
  background-image: var(--color-gradient-pewter-outline);
  height: 1px;
  bottom: -5px;
  left: 0;
  width: 100%;
  display: inline-block;
}

/* ------------------------------------------------------------ *\
    Custom Fonts
\* ------------------------------------------------------------ */

@font-face {
  font-family: 'Canela Web';
  src: url('Canela-LightItalic-Web.woff2') format('woff2'),
    url('Canela-LightItalic-Web.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Web';
  src: url('Canela-Light-Web.woff2') format('woff2'),
    url('Canela-Light-Web.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Web';
  src: url('Canela-ThinItalic-Web.woff2') format('woff2'),
    url('Canela-ThinItalic-Web.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Web';
  src: url('Canela-Thin-Web.woff2') format('woff2'),
    url('Canela-Thin-Web.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

/* ------------------------------------------------------------ *\
    Utility
\* ------------------------------------------------------------ */
[cloak] {
  display: none !important;
}

/* ------------------------------------------------------------ *\
    Body Text
\* ------------------------------------------------------------ */

body,
.body {
  font-family: var(--font-mont);
  font-size: var(--font-scale-body);
  font-style: var(--font-style-body);
  font-weight: var(--font-weight-body);
  line-height: var(--font-line-height-base);
}

.a1 {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-family: var(--font-mont);
  font-weight: 600;
  letter-spacing: -0.02em;
}

.s1 {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-family: var(--font-mont);
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.b1 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-family: var(--font-mont);
  font-weight: 400;
  letter-spacing: -0.02em;
}

.b1--strong,
.b2--strong {
  font-weight: 600;
}

.b1--medium {
  font-size: 1.5rem;
  font-weight: 600;
}

.b2, .b3 /* b3 not in styleguide so will inherit b2 */ {
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: var(--font-mont);
  font-weight: 400;
  letter-spacing: -0.02rem;
}

.b2--medium {
  font-size: 1.3rem;
  font-weight: 600;
}

/* Links */

a {
  color: var(--color-off-black);
}

/* ------------------------------------------------------------ *\
    Headings
\* ------------------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  /* Calculate font scale based on individual heading level scale variable
     and the main scale factor (heading scale coefficient) from theme settings */
  --modified-scale: calc(
    var(--scale) * var(--heading-scale-coefficient-mobile)
  );
  /* Calculate font size in REM ensuring it's never smaller than the body
      font size */
  --font-size: calc(
    clamp(var(--font-scale-body), var(--modified-scale), var(--modified-scale)) *
      1rem
  );
  font-family: var(--font-canela);
  line-height: normal;
}

h1,
.h1 {
  font-size: var(--font-scale-h1);
  font-weight: var(--font-weight);
}

h2,
.h2 {
  font-weight: var(--font-weight);
  font-size: var(--font-scale-h2);
}

h3,
.h3 {
  font-size: var(--font-scale-h3);
  font-weight: var(--font-weight);
}

h4,
.h4 {
  font-size: var(--font-scale-h4);
  font-weight: var(--font-weight-h4, var(--font-weight));
}

h5,
.h5 {
  font-size: var(--font-scale-h5);
  font-weight: var(--font-weight);
}

h6,
.h6 {
  font-size: var(--font-scale-h6);
  font-weight: var(--font-weight);
  line-height: 1.04;
}

.word-break-all {
  word-break: break-all;
}

/* ------------------------------------------------------------ *\
    Navigation
\* ------------------------------------------------------------ */

.n1 {
  font-size: 3.2rem;
  line-height: 4.1rem;
  font-family: var(--font-canela);
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 100;
}

.n2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-family: var(--font-canela);
  text-transform: capitalize;
  text-decoration: none;
}

.n3 {
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: var(--font-mont);
  text-transform: capitalize;
  text-decoration: none;
}

.n4 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-family: var(--font-mont);
  text-transform: capitalize;
  text-decoration: none;
}

.n5 {
  font-size: 0.75rem;
  line-height: 1.3;
  font-family: var(--font-mont);
  text-transform: capitalize;
  font-weight: 600;
}

.n6 {
  font-size: 1rem;
  line-height: 1.9;
  font-family: var(--font-mont);
  font-weight: 350;
  letter-spacing: -0.02em;
}

.f1 {
  font-size: 1.3rem;
  line-height: 20px;
  font-family: var(--font-mont);
  font-weight: 600;
  letter-spacing: -0.02em;
}

.f2 {
  font-size: 1.2rem;
  line-height: 1.17;
  font-family: var(--font-mont);
  font-weight: 400;
  letter-spacing: -0.01em;
}

.subheading {
  font-weight: 600;
  font-size: 1.2rem;
}

.letter-spacing {
  letter-spacing: 0.16em;
}

.extra-light {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.extra-bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.sans {
  font-family: var(--font-mont);
}

.serif {
  font-family: var(--font-canela);
}

.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

/* ------------------------------------------------------------ *\
    List Unstyled
\* ------------------------------------------------------------ */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.list-unstyled {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* ------------------------------------------------------------ *\
    Standard Sizing
\* ------------------------------------------------------------ */

p,
li,
ul,
ol,
input,
li,
label {
  font-size: var(--font-scale-body);
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/* ------------------------------------------------------------ *\
    Elements
\* ------------------------------------------------------------ */

.address,
.address tel {
  font-style: normal;
  display: block;
}

.address p {
  margin: 0;
}

/* ------------------------------------------------------------ *\
    Buttons
\* ------------------------------------------------------------ */

button {
  font-family: var(--font-mont);
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  box-sizing: border-box;
  line-height: 1rem;
  transition: all var(--duration-short) ease-out;
  padding: 1.95rem 3rem;
  border: double 1px transparent;
  color: var(--color-off-white);
  font-weight: 600;
  background-color: var(--color-off-black);
}

button > span,
button > svg,
.button > span,
.button > svg,
.button--secondary > span,
.button--secondary > svg,
.button--dark > span,
.button--dark > svg {
  pointer-events: none;
}

.button:hover,
.button:focus {
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 4px 4px 12px #d2b29a66, -4px -4px 12px #fffbf7;
  background-image: linear-gradient(var(--color-tan), var(--color-tan)),
    var(--color-gradient-pewter-outline);
  color: var(--color-off-black);
}

.button--dark {
  background-color: var(--color-off-black);
  color: var(--color-off-white);
}

.button--dark:hover,
.button--dark:focus {
  color: var(--color-off-black);
}

.button--light {
  background-color: var(--color-off-white);
  color: var(--color-off-black);
}

.button--light:hover,
.button--light:focus {
  color: var(--color-off-black);
}

.button.fluid {
  width: 100%;
}

.button.inverted {
  background-color: transparent;
  color: var(--color-off-black);
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: var(--color-gradient-pewter-outline);
}

.button .color-mode-dark button:hover,
.color-mode-dark .button:hover {
  background-color: var(--color-base-subdued);
  color: var(--color-base-reverse);
}

button:disabled,
button.disabled,
button[aria-disabled='true'],
.button:disabled,
.button.disabled,
.button[aria-disabled='true'] {
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-color: var(--color-disabled-bg);
  color: var(--color-disabled);
  border: 1px solid var(--color-disabled);
}

a.button.disabled {
  pointer-events: none;
}

button:disabled:hover,
button.disabled:hover,
button[aria-disabled='true']:hover,
.button:disabled:hover,
.button.disabled:hover,
.button[aria-disabled='true']:hover {
  background-image: none;
  cursor: not-allowed;
}

/* Button secondary */

.button--secondary {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1.2rem 4rem;
  border-radius: 0;
  text-decoration: none;
  background-color: var(--color-off-black);
  color: var(--color-off-white);
  transition: all var(--duration-short) ease-out;
  border: double 1px transparent;
}

.button--secondary:hover {
  background-color: var(--color-pale-pink);
  background-image: linear-gradient(
      var(--color-pale-pink),
      var(--color-pale-pink)
    ),
    var(--color-gradient-pewter-outline);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  color: var(--color-off-black);
}

.color-mode-dark .button--secondary:hover {
  background-color: var(--color-foreground-main);
  color: var(--color-background-main);
}

.button--secondary:disabled,
.button--secondary.disabled,
.button--secondary[aria-disabled='true'],
.color-mode-dark .button--secondary:disabled,
.color-mode-dark .button--secondary.disabled,
.color-mode-dark .button--secondary[aria-disabled='true'] {
  background-color: var(--color-off-black);
  box-shadow: 4px 4px 12px rgba(210, 178, 154, 0.4), -4px -4px 12px #fffbf7;
  opacity: 0.5;
  color: #fff;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

/* Button light */

.button-off-white {
  background-color: var(--color-off-white);
  color: var(--color-off-black);
}

.button-tan {
  background-color: var(--color-tan);
  color: var(--color-off-black);
}

.button-light-tan {
  background-color: var(--color-light-tan);
  color: var(--color-off-black);
}

.button-border-pewter {
  color: var(--color-off-black);
  background-image: linear-gradient(
      var(--color-off-white),
      var(--color-off-white)
    ),
    var(--color-gradient-pewter-outline);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  cursor: pointer;
}

.button-border-pewter:hover,
.button-border-pewter:focus {
  background-color: var(--color-tan);
}

.button-border-pewter svg path {
  fill: var(--color-off-black);
}

/* Button secondary with icon */

.button--secondary.with-icon svg {
  min-width: 20px;
  margin-right: 10px;
}

.button--secondary:hover {
  background-color: var(--color-pale-pink);
  background-image: linear-gradient(
      var(--color-pale-pink),
      var(--color-pale-pink)
    ),
    var(--color-gradient-pewter-outline);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  color: var(--color-off-black);
}

.color-mode-dark .button--secondary:hover {
  background-color: var(--color-foreground-main);
  color: var(--color-background-main);
}

.button--secondary:disabled,
.button--secondary.disabled,
.button--secondary[aria-disabled='true'],
.color-mode-dark .button--secondary:disabled,
.color-mode-dark .button--secondary.disabled,
.color-mode-dark .button--secondary[aria-disabled='true'] {
  background-color: var(--color-off-black);
  box-shadow: 4px 4px 12px rgba(210, 178, 154, 0.4), -4px -4px 12px #fffbf7;
  opacity: 0.5;
  color: #fff;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.button--white {
  font-size: var(--font-scale-button);
  line-height: 1rem;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1.75rem 3rem;
  text-decoration: none;
  background-color: var(--color-off-white);
  color: var(--color-off-black);
  transition: all var(--duration-short) ease-out;
  border: double 1px transparent;
  font-family: var(--font-mont);
}

.button--white.button--bordered {
  border: 1px solid var(--color-off-black);
}

/* Icon only button */

.button--icon-only {
  color: var(--color-off-black);
  text-decoration: none;
  display: inline-flex;
  flex-direction: column;
  line-height: 1.244rem;
  padding: 0;
  background-color: transparent;
}

.button--icon-only:hover {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  opacity: 0.7;
}

.button--icon-reverse svg {
  order: -1;
  margin-right: 8px;
}

/* Button text underline */

.button--text-underline {
  color: var(--color-off-black);
  text-decoration: none;
  display: inline-flex;
  flex-direction: column;
  font-weight: 600;
  background-color: transparent;
  border: none;
}

.button--text-underline::after {
  content: '';
  background-image: var(--color-gradient-pewter-outline);
  height: 1px;
  width: 100%;
  display: inline-block;
  margin-top: 0.2rem;
}

.button--text-underline:disabled,
.button--text-underline.disabled {
  cursor: not-allowed;
  color: var(--color-dark-gray);
}

.button--text-underline:disabled,
.button--text-underline.disabled {
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-dark-gray);
}

.button--text-underline:disabled::after,
.button--text-underline.disabled::after {
  background: none;
}

.button--text-underline:not(.disabled):hover:after,
.button--text-underline:not(.disabled).focus:after {
  background-image: var(--color-gradient-pewter);
}

.button--text-underline.light {
  color: var(--color-off-white);
}

button.button--text-underline::after {
  margin-top: 0.8rem;
}

/* Button text with icon */

.button--text-icon {
  color: var(--color-off-black);
  text-decoration: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  font-weight: 600;
  flex-direction: row;
  align-items: center;
  border: 0;
}

.button--text-icon.inline {
  display: inline-flex;
}

.button--text-icon.disabled,
.button--text-icon:disabled {
  cursor: not-allowed;
  background-color: transparent;
  box-shadow: none;
  color: var(--color-off-black);
}

.button--text-icon svg {
  min-width: 5px;
  height: auto;
  margin-left: 1.05rem;
  right: 0;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.button--text-icon:not(.disabled):hover,
.button--text-icon:not(.disabled):focus {
  cursor: pointer;
}

.button--text-icon:not(.disabled):hover svg,
.button--text-icon:not(.disabled):focus svg {
  right: 0.35rem;
}

/* Button text under & with icon */

.button--text-icon.button--text-underline {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button--text-icon.button--text-underline span {
  order: 1;
}
.button--text-icon.button--text-underline svg {
  order: 2;
}
.button--text-icon.button--text-underline:after {
  margin-top: 0.8rem;
  flex: 1 1 100%;
  order: 3;
}

/* Button - Icon only */

.button--icon-only {
  color: var(--color-off-black);
  text-decoration: none;
  display: inline-flex;
  flex-direction: column;
  align-self: center;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.button--icon-only:hover {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  opacity: 0.7;
}

.button--icon-reverse svg {
  margin-right: 1.05rem;
  margin-left: 0;
  left: 0;
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.button--icon-reverse:not(.disabled):hover svg,
.button--icon-reverse:not(.disabled):focus svg {
  right: 0;
  left: 0.35rem;
}

.button--paginate {
  text-decoration: none;
  color: var(--color-off-black);
}

.button--paginate.active {
  text-decoration: underline;
  font-weight: 600;
}

button.no-styles {
  padding: 0;
  background-color: transparent;
  background-image: none;
  border: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  cursor: pointer;
}

button.no-styles:focus,
button.no-styles:hover {
  background-color: transparent;
}

button.no-styles svg:first-child {
  margin-right: 0.8rem;
}

button.no-styles svg:last-child {
  margin-left: 0.8rem;
}

button.button--text-basic {
  background-color: transparent;
  border: none;
  padding: 0;
}

.input-container,
.cf-field {
  display: flex;
  position: relative;
  overflow: hidden;
}

.cf-field[data-cf-field-type='heading']::before,
.cf-field[data-cf-field-type='group']::before {
  display: none;
}

.input-container input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.input-container.disabled {
  opacity: 0.5;
}

.input-container.disabled input[type='text'],
.input-container.disabled input[type='email'],
.input-container.disabled input[type='password'],
.input-container.disabled input[type='phone'],
.input-container.disabled input[type='tel'] {
  pointer-events: none;
  cursor: not-allowed;
}

.input-container::before,
.cf-field::before {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 2px;
  width: calc(100% - 4px);
  background: var(--color-gradient-pewter-outline);
  height: 2px;
  flex: 1;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.input-container label,
.cf-field label {
  position: absolute;
  left: 15px;
  top: 21px;
  font-family: var(--font-mont);
  opacity: 0.5;
  cursor: text;
  pointer-events: none;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.input-container label span {
  color: var(--color-red);
}

.input-container label.active,
.cf-field label {
  top: 10px;
  font-size: 1.2rem;
}

.cf-field label {
  z-index: 2;
}

.input-container.active::before {
  height: 2px;
  background: var(--color-gradient-pewter);
}

.input-container.active.animate-label input[type='text'],
.input-container.active.animate-label input[type='email'],
.input-container.active.animate-label input[type='password'],
.input-container.active.animate-label input[type='phone'],
.input-container.active.animate-label input[type='tel'],
.cf-field input[type='text'],
.cf-field input[type='email'],
.cf-field input[type='password'],
.cf-field input[type='phone'],
.cf-field input[type='tel'] {
  padding-top: 20px;
}

.input-container input[type='text'],
.input-container input[type='email'],
.input-container input[type='password'],
.input-container input[type='phone'],
.input-container input[type='tel'],
.cf-field input[type='text'],
.cf-field input[type='email'],
.cf-field input[type='password'],
.cf-field input[type='phone'],
.cf-field input[type='tel'] {
  padding-left: 13px;
  border: 1px solid var(--color-light-tan);
  background-color: var(--color-off-white);
  color: var(--color-off-black);
  flex: 1;
  height: 58px;
  font-family: var(--font-mont);
  font-size: var(--font-scale-body);
}

.cf-field input[type='text']:focus,
.cf-field input[type='text']:active,
.cf-field input[type='email']:focus,
.cf-field input[type='email']:active,
.cf-field input[type='password']:focus,
.cf-field input[type='password']:active,
.cf-field input[type='phone'],
.cf-field input[type='tel']:focus,
.cf-field input[type='phone'],
.cf-field input[type='tel']:active,
.input-container input[type='text']:focus,
.input-container input[type='text']:active,
.input-container input[type='email']:focus,
.input-container input[type='email']:active,
.input-container input[type='password']:focus,
.input-container input[type='password']:active,
.input-container input[type='phone'],
.input-container input[type='tel']:focus,
.input-container input[type='phone'],
.input-container input[type='tel']:active {
  outline: none;
}

.input-container input[type='text']::-webkit-input-placeholder,
.input-container input[type='email']::-webkit-input-placeholder,
.input-container input[type='password']::-webkit-input-placeholder,
.input-container input[type='phone'],
.input-container input[type='tel']::-webkit-input-placeholder,
.cf-field input[type='text']::-webkit-input-placeholder,
.cf-field input[type='email']::-webkit-input-placeholder,
.cf-field input[type='password']::-webkit-input-placeholder,
.cf-field input[type='phone'],
.cf-field input[type='tel']::-webkit-input-placeholder {
  color: var(--color-off-black);
}

.input-container input[type='text']::-moz-placeholder,
.input-container input[type='email']::-moz-placeholder,
.input-container input[type='password']::-moz-placeholder,
.input-container input[type='phone'],
.input-container input[type='tel']::-moz-placeholder,
.cf-field input[type='text']::-moz-placeholder,
.cf-field input[type='email']::-moz-placeholder,
.cf-field input[type='password']::-moz-placeholder,
.cf-field input[type='phone'],
.cf-field input[type='tel']::-moz-placeholder {
  color: var(--color-off-black);
}

.input-container input[type='text']:-ms-input-placeholder,
.input-container input[type='email']:-ms-input-placeholder,
.input-container input[type='password']:-ms-input-placeholder,
.input-container input[type='phone'],
.input-container input[type='tel']:-ms-input-placeholder,
.cf-field input[type='text']:-ms-input-placeholder,
.cf-field input[type='email']:-ms-input-placeholder,
.cf-field input[type='password']:-ms-input-placeholder,
.cf-field input[type='phone'],
.cf-field input[type='tel']:-ms-input-placeholder {
  color: var(--color-off-black);
}

.input-container input[type='text']:-moz-placeholder,
.input-container input[type='email']:-moz-placeholder,
.input-container input[type='password']:-moz-placeholder,
.input-container input[type='phone'],
.input-container
  input[type='tel']:-moz-placeholder
  .cf-field
  input[type='text']:-moz-placeholder,
.cf-field input[type='email']:-moz-placeholder,
.cf-field input[type='password']:-moz-placeholder,
.cf-field input[type='phone'],
.cf-field input[type='tel']:-moz-placeholder {
  color: var(--color-off-black);
}

.input-container input[type='text']::placeholder,
.input-container input[type='email']::placeholder,
.input-container input[type='password']::placeholder,
.input-container input[type='phone'],
.input-container input[type='tel']::placeholder,
.cf-field input[type='text']::placeholder,
.cf-field input[type='email']::placeholder,
.cf-field input[type='password']::placeholder,
.cf-field input[type='phone'],
.cf-field input[type='tel']::placeholder {
  color: var(--color-off-black);
}

.cf-field .cf-field-errors,
.cf-field[data-cf-invalid='true']:not([data-cf-field-type='repeating_group'])
  .cf-field-errors {
  margin: 0 !important;
  padding: 4px !important;
  position: absolute;
  top: 100%;
  left: 0;
}

.input-container.error label {
  color: var(--color-red);
}

.input-container.error::before {
  height: 2px;
  background: var(--color-red);
}

.input-container.even-padding {
  padding: 15px 0;
}

.input-container.even-padding > input[type='text'],
.input-container.even-padding > input[type='email'],
.input-container.even-padding input[type='password'],
.input-container.even-padding > input[type='phone'],
.input-container.even-padding > input[type='tel'] {
  padding: 0;
  height: auto;
  border: none;
}

.input-container.no-border:before {
  display: none;
}

.input-container.with-label > input[type='text'],
.input-container.with-label > input[type='email'],
.input-container.with-label input[type='password'],
.input-container.with-label > input[type='phone'],
.input-container.with-label > input[type='tel'] {
  padding-top: 24px;
}

.input-container.with-icon > input[type='text'],
.input-container.with-icon > input[type='email'],
.input-container.with-icon input[type='password'],
.input-container.with-icon > input[type='phone'],
.input-container.with-icon > input[type='tel'] {
  background-color: transparent;
  border: none;
  padding-left: 0px;
}

.input-container.with-icon-bg {
  background-color: var(--color-off-white);
  padding-left: 15px;
  border: 1px solid var(--color-light-tan);
}

.input-container.with-icon-bg > input[type='text'],
.input-container.with-icon-bg > input[type='email'],
.input-container.with-icon-bg input[type='password'],
.input-container.with-icon-bg > input[type='phone'],
.input-container.with-icon-bg > input[type='tel'] {
  background-color: transparent;
  border: none;
  padding-left: 0px;
}

.input-container.with-icon-bg .submit button {
  padding-right: 15px;
}

.input-container.no-bg > input[type='text'],
.input-container.no-bg > input[type='email'],
.input-container.no-bg input[type='password'],
.input-container.no-bg > input[type='phone'],
.input-container.no-bg > input[type='tel'] {
  background-color: transparent;
}

.input-container.no-border > input::before {
  content: none;
}

.input-container.light > input[type='text'],
.input-container.light > input[type='email'],
.input-container.light input[type='password'],
.input-container.light > input[type='phone'],
.input-container.light > input[type='tel'] {
  color: var(--color-off-white);
}

.input-container.light > input[type='text']::-webkit-input-placeholder,
.input-container.light > input[type='email']::-webkit-input-placeholder,
.input-container.light input[type='password']::-webkit-input-placeholder,
.input-container.light > input[type='phone'],
.input-container.light > input[type='tel']::-webkit-input-placeholder {
  color: var(--color-off-white);
}

.input-container.light > input[type='text']::-moz-placeholder,
.input-container.light > input[type='email']::-moz-placeholder,
.input-container.light input[type='password']::-moz-placeholder,
.input-container.light > input[type='phone'],
.input-container.light > input[type='tel']::-moz-placeholder {
  color: var(--color-off-white);
}

.input-container.light > input[type='text']:-ms-input-placeholder,
.input-container.light > input[type='email']:-ms-input-placeholder,
.input-container.light input[type='password']:-ms-input-placeholder,
.input-container.light > input[type='phone'],
.input-container.light > input[type='tel']:-ms-input-placeholder {
  color: var(--color-off-white);
}

.input-container.light > input[type='text']:-moz-placeholder,
.input-container.light > input[type='email']:-moz-placeholder,
.input-container.light input[type='password']:-moz-placeholder,
.input-container.light > input[type='phone'],
.input-container.light > input[type='tel']:-moz-placeholder {
  color: var(--color-off-white);
}

.input-container.light > input[type='text']::placeholder,
.input-container.light > input[type='email']::placeholder,
.input-container.light input[type='password']::placeholder,
.input-container.light > input[type='phone'],
.input-container.light > input[type='tel']::placeholder {
  color: var(--color-off-white);
}

.form__message-list {
  list-style: none;
}

.form__message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
}

.form__message svg {
  width: 10px;
  height: 10px;
}

.form__message.text-left {
  justify-content: flex-start;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown label {
  position: absolute;
}

/* Dropdown Button */

button.dropdown-toggle {
  padding: 16px;
  cursor: pointer;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: var(--color-gradient-pewter-outline);
  width: 100%;
  display: block;
  color: var(--color-off-black);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 12px;
  padding-top: 35px;
  font-weight: 600;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
}

button.dropdown-toggle label {
  position: absolute;
  left: 12px;
  top: 10px;
  font-weight: 400;
}

button.dropdown-toggle span.icon {
  flex: 1;
  text-align: right;
  height: 0;
}

button.dropdown-toggle span.icon svg {
  pointer-events: none;
  position: relative;
  top: -12px;
  width: 7px;
  height: auto;
  transform: rotate(90deg);
}

button.dropdown-toggle .dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

button.dropdown-toggle .dropdown label {
  position: absolute;
}

button.dropdown-toggle .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  z-index: 1;
  background: var(--color-off-white);
  box-shadow: 0px 4px 12px rgba(62, 43, 46, 0.16);
  border-radius: 8px;
  padding: 15px 15px;
}

button.dropdown-toggle .dropdown-content h4 {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--font-mont);
  color: var(--color-off-black);
  border-bottom: 1px solid var(--color-light-tan);
  padding-bottom: 15px;
  font-size: 1.4rem;
}

button.dropdown-toggle .dropdown-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button.dropdown-toggle .dropdown-content ul li button {
  color: var(--color-off-black);
  padding: 10px 15px;
  text-decoration: none;
  display: flex;
  border-radius: 130px;
  width: 100%;
  border: 1px solid transparent;
  text-align: left;
  background-color: transparent;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

button.dropdown-toggle .dropdown-content ul li button:hover {
  cursor: pointer;
  background-color: var(--color-pale-pink);
  box-shadow: 4px 4px 12px rgba(210, 178, 154, 0.4), -4px -4px 12px #fffbf7;
}

button.dropdown-toggle .dropdown-content ul li button.selected {
  background-color: var(--color-light-tan);
}

button.dropdown-toggle .dropdown-content ul li button.selected .checkmark {
  display: block;
}

button.dropdown-toggle .dropdown-content ul li button .checkmark {
  flex: 1;
  text-align: right;
  display: none;
}

.select {
  position: relative;
  border: 1px solid var(--color-light-tan);
  background-color: var(--color-off-white);
  color: var(--color-off-black);
  padding: 10px 15px;
}

[data-cf-field-type='dropdown'],
[data-cf-field-type='date'] {
  padding: 0;
  margin: 0;
}

[data-cf-field-type='date']::before {
  display: none;
}

.select.select--nolabel {
  border: none;
  padding-right: 50px;
  padding: 0;
}

.select.select--nolabel select {
  width: min-content;
}

.select.select--nolabel::before {
  display: none;
}

.select select,
.cf-select-wrap select {
  appearance: none;
  border: none;
  background-color: transparent;
  color: var(--color-off-black);
  font-family: var(--font-mont);
  font-size: var(--font-scale-body);
  display: block;
  width: 100%;
}

.cf-select-wrap select {
  height: 58px;
  padding: 0 15px;
}

.select::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--color-gradient-pewter);
  height: 2px;
}

.select label {
  font-family: var(--font-mont);
  opacity: 0.5;
  font-size: 1.2rem;
  display: block;
}

.select__icon {
  position: absolute;
  width: 10px;
  bottom: 10px;
  right: 20px;
  transform: rotate(90deg);
  color: var(--color-off-black);
}

.select.select--nolabel .select__icon {
  position: relative;
  bottom: unset;
  right: unset;
  margin-top: 4px;
  margin-left: 12px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: var(--font-mont);
  color: var(--color-off-black);
  /* Hide the browser's default checkbox */
  /* On mouse-over, add a grey background color */
}

.checkbox-container:focus-within {
  outline: 0.2rem solid var(--color-focus);
  outline-offset: -0.2rem;
}

.checkbox-container label:hover {
  cursor: pointer;
}

.checkbox-container .text {
  top: -4px;
  position: relative;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--color-off-black);
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container input:checked ~ .text {
  font-weight: 600;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--color-off-white);
  /* Simplified gradient border, doesn't work with border-radius */
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: var(--color-gradient-pewter-outline);
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.checkbox-container .checkmark:after {
  content: '';
  position: absolute;
  display: none;
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-container:hover input ~ .checkmark {
  border-image-source: var(--color-gradient-pewter);
}

.checkbox-container.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: var(--font-mont);
  color: var(--color-off-black);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* On mouse-over, add a box shadow */
}

.radio-container:focus-within {
  outline: 0.2rem solid var(--color-focus);
  outline-offset: -0.2rem;
}

.radio-container label {
  cursor: pointer;
}

.radio-container .text {
  top: -3px;
  position: relative;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-container input:checked ~ .checkmark::after {
  background-color: var(--color-off-black);
}

.radio-container input:checked ~ .text {
  font-weight: 600;
}

.radio-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  border-radius: 50%;
}

.radio-container .checkmark:before {
  content: '';
  background-image: var(--color-gradient-pewter-outline);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  cursor: pointer;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.radio-container .checkmark::after {
  content: ' ';
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 15px;
  height: 15px;
  border: 2px solid white;
  background-color: var(--color-off-white);
  border-radius: 50%;
  transform: rotate(45deg) scale(1.1);
  cursor: pointer;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.radio-container .text {
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.radio-container:hover input ~ .checkmark:after {
  box-shadow: 4px 4px 12px #d2b29a66, -4px -4px 12px #fffbf7;
}

.radio-container.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.radio-container.disabled input {
  pointer-events: none;
}

.qty-select-container {
  position: relative;
  display: inline-block;
  border-radius: 1em;
  box-sizing: border-box;
  z-index: var(--z-index-base);
}

.qty-select-container:hover:before {
  background-image: var(--color-gradient-pewter);
}

.qty-select-container::before {
  box-sizing: border-box;
  content: '';
  background-image: var(--color-gradient-pewter-outline);
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  border-radius: 30px;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.qty-select-container .qty-select-inner {
  background-color: #fff;
  border-radius: 30px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.qty-select-container .qty-select-inner button {
  background-color: transparent;
  background-image: none;
  border: none;
  padding: 0;
  transform: scale(0.8);
}

.qty-select-container .qty-select-inner button:hover {
  background-color: transparent;
  color: var(--color-off-black);
  box-shadow: none;
  background-image: none;
  background-origin: border-box;
  background-clip: none;
  cursor: pointer;
}

.qty-select-container .qty-select-inner button svg {
  stroke: var(--color-off-black);
  stroke-width: 1.5px;
}

.qty-select-container .qty-select-inner input {
  border: none;
  text-align: center;
  max-width: 40px;
  color: var(--color-off-black);
}

.qty-select-container.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.qty-select-container.disabled input[type='text'] {
  pointer-events: none;
  cursor: not-allowed;
}

.b-tooltip {
  z-index: 5000;
}

.arrow-nav-container .arrow-nav-inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.arrow-nav-container .arrow-nav-inner ul li {
  margin-right: 10px;
}

.arrow-nav-container .arrow-nav-inner ul li:last-child {
  margin-right: 0px;
}

.arrow-nav-container .arrow-nav-inner ul li button {
  background-color: var(--color-light-tan);
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-image-slice: 1;
  border-width: 1px;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.arrow-nav-container .arrow-nav-inner ul li button:hover {
  border-image-source: var(--color-gradient-pewter-outline);
  box-shadow: none;
}

.arrow-nav-container .arrow-nav-inner ul li button svg {
  width: 9px;
  height: auto;
  position: relative;
  top: 0px;
}

.arrow-nav-container .arrow-nav-inner ul li button.prev svg {
  transform: rotate(180deg);
}

.arrow-nav-container .arrow-nav-inner ul li p {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
}

.swatch-line {
  gap: 8px;
}

.swatch-line button {
  appearance: none;
  border: 0;
  display: block;
  aspect-ratio: 1;
  width: 14px;
  border-radius: 14px;
  padding: 0;
}

.l-inline-show {
  display: none !important;
}

.l-none {
  display: block;
}

.mb-5 {
  margin-bottom: 5px;
}

.swatch-color-span {
  padding-bottom: 100% !important;
  width: 18px;
  background-color: var(--color-light-tan);
  border-radius: 50%;
  padding: 0;
  border: none;
  line-height: 1;
  flex-grow: 1;
  display: block;
}

/* media query breakpoints */

@media (min-width: 768px) {
  .s-none {
    display: none !important;
  }

  .s-block {
    display: block !important;
  }

  h2,
  .h2 {
    font-size: var(--font-scale-h2);
  }

  .n2 {
    font-size: 3.2rem;
    line-height: 4.1rem;
  }
}

@media (min-width: 992px) {
  .text-left-m {
    text-align: left;
  }

  .justify-start-m {
    justify-content: flex-start;
  }

  .input-container::before {
    left: 0;
    width: 100%;
  }

  .input-container input[type='text'],
  .input-container input[type='email'],
  .input-container input[type='password'],
  .input-container input[type='phone'],
  .input-container input[type='tel'] {
    padding-left: 15px;
  }
}

.init-hidden {
  opacity: 0 !important;
}

@media (min-width: 1200px) {
  .l-inline-show {
    display: inline-block !important;
  }

  .l-none {
    display: none !important;
  }
}

@media (max-width: 767px) {
  :root {
    --container-width: 375px;
    --gutter: 25px;
    --font-scale-h1: 4.8rem;
    --font-scale-h2: 3.8rem;
    --font-scale-h3: 2.4rem;
    --font-scale-h4: 1.8rem;
    --font-scale-h5: 1.2rem;
  }
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ordergroove styles */
og-offer og-select-frequency {
  background-color: transparent;
  border-image-source: var(--color-gradient-pewter-outline);
  border-image-slice: 1;
  box-shadow: none;
  display: grid;
  padding: 12px;
  width: calc(100% + 2.5rem);
}

og-offer og-text[key='offerEveryLabel'] {
  margin-left: -2.5rem !important;
}

og-optout-button,
og-optin-button {
  color: #3e2b2e;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

#dynamic-checkout-cart .shopify-cleanslate * {
  color: var(--color-off-black);
}

og-offer[location='cart'] {
  grid-column: 2 / 3;
}

[location='cart'] {
  --og-global-color: #3e2b2e !important;
}

[location='cart'] og-select-frequency {
  margin-left: 0;
  width: 100%;
}

[location='cart'] og-optin-toggle {
  color: #3e2b2e !important;
  font-family: var(--font-mont) !important;
}

[location='cart'] og-optin-toggle[subscribed] + div {
  font-family: var(--font-mont) !important;
}

[location='cart'] og-select-frequency {
  color: #3e2b2e;
}

[location='cart'] .og-button-toggle {
  background: transparent !important;
  border: 2px solid #3e2b2e !important;
}

[location='cart'] [subscribed] .og-button-toggle {
  background: #3e2b2e !important;
}

og-optin-button[subscribed] .checkmark:after {
  background-color: var(--color-off-black);
}

og-optout-button:not([subscribed]) .checkmark:after {
  background-color: var(--color-off-black);
}

/* subscription portal */
og-smi {
  color: var(--color-off-black) !important;
  font-family: var(--font-mont) !important;
}

og-smi .og-container #og-smi-main-title {
  background-color: var(--color-off-white) !important;
  color: var(--color-off-black);
  font-family: var(--font-canela) !important;
  font-size: 64px !important;
  font-weight: 100 !important;
  line-height: 67px;
}

og-smi .og-button:not(.og-button-close),
#send-update-payment-email-button {
  align-items: center;
  background-color: var(--color-off-black) !important;
  border: double 1px transparent !important;
  border-radius: 0 !important;
  box-sizing: border-box;
  color: var(--color-off-white) !important;
  cursor: pointer !important;
  display: inline-flex;
  font-weight: 600;
  line-height: 1;
  justify-content: center;
  padding: 1.95rem 3rem !important;
  text-decoration: none;
  transition: all var(--duration-short) ease-out !important;
}

og-smi .og-button:not(.og-button-close):hover,
#send-update-payment-email-button:hover {
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 4px 4px 12px #d2b29a66, -4px -4px 12px #fffbf7 !important;
  background-image: linear-gradient(var(--color-tan), var(--color-tan)),
    var(--color-gradient-pewter-outline);
  color: var(--color-off-black) !important;
  transform: none !important;
}

.og-button-close {
  border-radius: 0 !important;
  border: none !important;
  color: var(--color-off-black);
  position: absolute;
  right: 0;
  top: 0;
}

.og-right.grid__item {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

og-smi .og-container .og-unsent-shipment,
og-smi .og-container .og-inactive-subscription,
og-smi .og-container .og-sent-shipment {
  border: 1px solid var(--color-dark-gray) !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

#og-send-update-email {
  margin-bottom: 20px;
}

#og-send-update-email div:first-of-type {
  font-size: 20px;
}

og-smi select {
  background-color: transparent;
  border-image-source: var(--color-gradient-pewter-outline);
  border-image-slice: 1;
  color: var(--color-off-black);
  font-family: var(--font-mont);
  padding: 12px !important;
}

.og-dialog-title {
  color: var(--color-off-black);
  font-size: 20px;
  font-weight: 500;
  margin: 0 auto 60px !important;
  padding-right: 0 !important;
  text-align: center;
}

.og-dialog-body {
  color: var(--color-off-black);
  font-family: var(--font-canela);
  font-size: 32px;
  font-weight: 100;
  line-height: 41px;
  margin-bottom: 30px;
  padding: 0 !important;
  text-align: center;
}

.og-change-shipment-date-button dialog[open],
.og-send-shipment-now-button dialog[open],
.og-skip-shipment-button dialog[open] {
  border: none !important;
  border-radius: 20px;
  height: revert !important;
  padding: 20px 60px;
}

.og-change-shipment-date-button dialog[open] form,
.og-send-shipment-now-button dialog[open] form,
.og-skip-shipment-button dialog[open] form {
  max-width: 400px;
}

.og-dialog-header {
  padding: 0;
}

og-smi .og-dialog-footer {
  justify-content: center !important;
  padding: 0 !important;
}

.og-dialog-footer button {
  width: 100%;
}

.og-mobile-menu svg g {
  fill: var(--color-off-black);
}

@media screen and (max-width: 480px) {
  og-smi
    .og-container
    .og-mobile-menu-options
    .og-skip-shipment-button
    > button:hover,
  og-smi
    .og-container
    .og-mobile-menu-options
    .og-send-shipment-now-button
    > button:hover {
    background-origin: border-box;
    background: transparent !important;
    background-clip: padding-box, border-box !important;
    box-shadow: 4px 4px 12px #d2b29a66, -4px -4px 12px #fffbf7 !important;
    background-image: linear-gradient(var(--color-tan), var(--color-tan)),
      var(--color-gradient-pewter-outline) !important;
  }
}

@media screen and (max-width: 960px) {
  .og-quantity {
    margin-bottom: 8px;
  }
}

.og-shipment-header-controls.og-desktop {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  gap: 10px;
}

#og-send-update-email:target::before {
  content: '';
  display: block;
  height: 170px; /* fixed header height*/
  margin: -170px 0 0; /* negative fixed header height */
}

@media screen and (max-width: 960px) {
  og-smi .og-product .og-product-image-container {
    align-items: baseline !important;
    width: 56px !important;
  }

  .og-product .og-product-image {
    margin: 0 !important;
    max-width: none !important;
    width: 56px !important;
  }

  .og-product-name {
    display: block !important;
    font-family: var(--font-mont);
    font-size: 13px !important;
    font-weight: 600;
    margin: 0 !important;
  }

  .og-freq-quantity-controls {
    display: flex;
    flex-wrap: wrap;
    margin: 0 !important;
  }

  og-smi .og-product .og-name-price-controls-container .og-product-description {
    margin-bottom: 0 !important;
  }
}

og-smi .og-container .og-payment-shipping {
  gap: 8px;
}

@media screen and (max-width: 767px) and (min-width: 480px) {
  og-smi .og-container .og-shipment-header,
  og-smi .og-container .og-payment-shipping {
    flex-direction: column;
  }

  og-smi .og-container {
    width: 100% !important;
  }
}

@media screen and (max-width: 1120px) {
  og-smi .og-container .og-payment-shipping {
    flex-direction: column;
  }

  og-smi .og-container {
    width: 100% !important;
  }
}

@media screen and (max-width: 1120px) and (min-width: 961px) {
  og-smi .og-product .og-name-price-controls-container {
    flex-direction: column;
  }

  og-smi .og-shipment-header {
    flex-direction: column;
  }

  og-smi .og-container {
    width: 100% !important;
  }
}
