/* NOTE SAME CLASSES USED TO STYLE KLEVU SEARCH RESULTS LANDING and the COLLECTION PLPS's */
.collection-filters {
  border-top: 1px solid var(--color-light-tan);
  border-bottom: 1px solid var(--color-light-tan);
  padding: calc(var(--gutter) * 0.8) 0;
}

.collection-filters__main {
  grid-template-columns: 1fr;
}

.collection-filters__aside {
  gap: calc(var(--gutter) * 0.5);
  display: flex;
  justify-content: space-between;
}

.collection-filters__sortby {
  padding-left: calc(var(--gutter) * 0.4);
}

.collection-filters__list {
  gap: 30px;
  display: none;
}

.collection-filters__toggle {
  border: 0;
  background: none;
  gap: 8px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0;
}

.collection-filters__filter-toggle button {
  height: 40px;
}

.collection-filters__toggle svg {
  transition: 0.3s ease transform;
}

.collection-filters__list-item.open .collection-filters__toggle svg {
  transform: rotate(180deg);
}

.collection-filters__actions {
  grid-template-columns: repeat(2, 1fr);
  gap: 11px;
  padding-top: calc(var(--gutter) * 0.5);
  padding-bottom: calc(var(--gutter) * 0.5);
  padding-left: 20px;
  padding-right: 20px;
}

.collection-filters__list-item {
  border-top: 1px solid var(--color-light-tan);
  display: block;
}

.collection-filters__list-item:first-child {
  border-top: 0;
}

.collection-filters__list-item__dropdown {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s ease;
}

.collection-filters__list-item__dropdown > div:last-child {
  margin-bottom: 20px;
}

.collection-filters__slideout {
  flex-direction: column;
  min-height: 100%;
}

.collection-filters__accordions {
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
}

.collection-filters__list-item__dropdown .checkbox-container {
  margin: 0;
}

.collection-filters__list-item.open .collection-filters__list-item__dropdown {
  max-height: 1000px;
}

.collection-filters__active {
  gap: 12px;
  padding: 20px 0 0;
  display: none;
}

.collection-filters__filter-tag,
.collection-filters__clear {
  padding: 0 12px;
  height: 30px;
  gap: 8px;
}

.collection-filters__filter-tag svg {
  width: 10px;
  height: 10px;
  display: block;
}

.collection-filters__filter-toggle {
  display: flex;
  min-width: 213px;
}

.collection-filters__sortby-wrapper {
  display: none;
}

@media (min-width: 768px) {
  .collection-filters {
    padding: 20px 0;
  }
}

@media (min-width: 992px) {
  .collection-filters {
    padding-top: calc(var(--gutter) * 0.66666);
    padding-bottom: calc(var(--gutter) * 0.66666);
  }
}

@media (min-width: 1200px) {
  .collection-filters__active {
    display: flex;
  }

  .collection-filters__aside {
    display: flex;
    justify-content: flex-end;
  }

  .collection-filters__sortby-wrapper {
    display: flex;
  }

  .collection-filters__sortby-wrapper span {
    padding-right: 2.4rem;
  }

  .collection-filters__list {
    display: flex;
  }

  .collection-filters__filter-toggle {
    display: none;
  }

  .collection-filters__list-item {
    border: 0;
  }

  .collection-filters__toggle {
    display: inline-flex;
    width: auto;
    justify-content: start;
    padding: 0;
  }

  .collection-filters__list-item__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: var(--card-box-shadow);
    padding: 20px;
    border-radius: 8px;
    width: 220px;
    margin-top: 16px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.1s;
    gap: 8px;
    z-index: var(--z-index-base);
  }

  .collection-filters__list-item.open .collection-filters__list-item__dropdown {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
    visibility: visible;
    transition-duration: 0.3s;
    left: auto;
    right: 0;
  }

  .collection-filters__main {
    grid-template-columns: 2fr 1fr;
  }

  .collection-filters__list-item__dropdown > div:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1500px) {
  .collection-filters__list-item.open .collection-filters__list-item__dropdown {
    left: 0;
  }
}
