.logo {
  margin-bottom: 40px;
  width: 242px;
}

@media screen and (min-width: 992px) {
  .logo {
    margin-bottom: 60px;
  }
}

.logo path {
  fill: var(--color-off-black);
}

.logo__eyebrow {
  display: block;
  margin-bottom: 12px;
}

.password__outer {
  background: radial-gradient(var(--color-off-white), var(--color-tan));
  display: flex;
  height: 100%;
}

.password {
  align-items: center;
  color: var(--color-off-black);
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  text-align: center;
}

.password__header {
  margin: 0 auto 24px;
  max-width: 720px;
}

@media screen and (min-width: 992px) {
  .password__header {
    margin: 0 auto 40px;
  }
}

.password__ctas {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto 40px;
  max-width: 400px;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .password__ctas {
    margin-bottom: 60px;
  }
}

.password__cta {
  margin-bottom: 40px;
  max-width: 400px;
  width: 100%;
}

.password__ctas .button--light {
  border: 1px solid var(--color-off-black);
}

.password__questions-header {
  margin: 0 auto 12px;
}

.password__questions-text {
  margin: 0 auto 40px;
  max-width: 400px;
}

.password__password {
  cursor: pointer;
  height: 20px;
  position: fixed;
  right: 0;
  top: 0;
  width: 20px;
}

.password__password.full-size {
  height: auto;
  width: auto;
}

.password__questions-email {
  margin: 0 auto 5px;
}

.password adaptive-image {
  margin: 0 auto;
  width: 170px;
}

.password__columns {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .password__columns {
    flex-direction: row;
    justify-content: center;
  }
}
