.mobilemenu-container {
  position: fixed;
  top: var(--header-spacer);
  right: 0;
  width: 85vw;
  height: 100%;
  max-height: calc(100vh - var(--header-spacer));
  overflow-y: auto;
  z-index: var(--z-index-highest);
  padding: 3rem 2.5rem 0 2.5rem;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-property: visibility, transform;
}

.mobilemenu-container[cloak].open {
  visibility: visible;
  transform: none;
  pointer-events: unset;
  transition-delay: 0s;
  transition-duration: 0.5s;
  display: block !important;
}

.mobilemenu__navigation--divided {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-light-tan);
  margin: 0 -2.5rem 0;
}

.mobilemenu__navigation .n4 {
  margin: 0 0 2rem 0;
}

.mobilemenu__navigation-link-n4 {
  display: block;
}

.mobilemenu__navigation-link-n1 {
  margin-bottom: 1rem;
}

.mobilemenu__dropdown-child {
  padding: 0rem 2.5rem 1rem 2.5rem;
  border-bottom: 1px solid var(--color-light-tan);
  margin: 0 -2.5rem 2rem -2.5rem;
}

.mobilemenu__buttons {
  margin-top: 2rem;
}

.mobilemenu__buttons a {
  width: 100%;
}

.mobilemenu__buttons a path {
  fill: var(--color-off-white);
}

.mobilemenu__buttons a:hover path,
.mobilemenu__buttons a:active path {
  fill: var(--color-off-black);
}

.mobilemenu__login {
  padding: 1.2rem 4rem;
  width: 100%;
}

.mobilemenu__login svg {
  width: 23px;
  height: auto;
  margin-right: 4px;
}

.mobilemenu__login:hover svg path {
  fill: var(--color-off-black);
}

.mobilemenu__footer {
  margin: 2rem -2.5rem 0 -2.5rem;
  padding: 3rem 2.5rem 100px;
}

.mobilemenu__footer-link-container:not(:last-of-type) .mobilemenu__footer-link {
  margin-bottom: 2.6rem;
}

.mobilemenu__footer-link {
  text-decoration: none;
  display: block;
}

.mobilemenu__navigation-icon-virtual {
  width: 20px;
  height: 22px;
  transform: translateX(6px);
}

.mobilemenu__navigation-icon-virtual svg {
  width: 100%;
  height: 100%;
}

.mobilemenu__navigation-icon-virtual svg path {
  fill: var(--color-off-black);
}

@media (min-width: 992px) {
  .mobilemenu-container,
  .mobilemenu-container[cloak].open {
    display: none !important;
  }
}
